<style>

    path {
        stroke: #fff;
        fill-rule: evenodd;
    }

</style>
<body>
<div class="graph"></div>
<div class="info">
    <svg id="ancestors"></svg>
    <span id="percent"></span>
</div>

</body>
<script>


    //инициализируем размер графика
    var width = 600,
            height = 500,
            radius = Math.min(width, height) / 2;


    var sum = 0;

    //выход X - круг - рассчет формулы сопоставления
    var x = d3.scale.linear()
            .range([0, 2 * Math.PI]);

    //???
    var y = d3.scale.sqrt()
            .range([0, radius]);

    //для цветовой палитры
    var color = d3.scale.category20c();

    //инициализация DOM
    var svg = d3.select(".graph").append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(" + width / 2 + "," + (height / 2) + ")");

    //магия D3
    var partition = d3.layout.partition()
        //что сравнивать - по какому-параметру (size)
            .value(function (d) {
                return d.size;
            })


    var ancestors = d3.select("#ancestors")
            .attr("width", width + 200)
            .attr("height", 40)

    //
    var arc = d3.svg.arc()
            .startAngle(function (d) {
                return x(d.x);
            })
            .endAngle(function (d) {
                return x(d.x + d.dx);
            })
            .innerRadius(function (d) {
                return y(d.y);
            })
            .outerRadius(function (d) {
                return y(d.y + d.dy);
            });

    d3.json("/models/shares.json", function (error, root) {
        if (error) throw error;

        data = partition.nodes(root);
        sum = data[0].value;

        var path = svg.selectAll("path")
                .data(data)
                .enter().append("path")
                .attr("class", "path")
                .attr("d", arc)
                .on("mouseover", hover)
                .on("mouseleave", hoverOver)
            //логика заливки
                .style("fill", function (d) {
                    return color((d.children ? d : d.parent).name);
                })

    });

    function hoverOver(d) {
        d3.select("#ancestors")
                .html("");
        d3.select("#percent")
                .html("");
    }
    function hover(d) {
        var percent = (100 * d.value / sum).toPrecision(2) + "%";


        var data = getAncestors(d);
        data.forEach(function (g) {
            g.w = calculateSize(g.name)
            g.h = 30
            g.s = 11
            g.t = 10
        })
        var dynamicOffset = 0;
        d3.select("#percent")
                .text(percent);

        var nodeGroup = ancestors.selectAll(".nav")
                .data(data)
                .enter().append("g")
                .attr("transform", function (g) {
                    var result = "translate(" + dynamicOffset + ", 10)";
                    dynamicOffset += (g.w + g.s);
                    return result;
                })
                .attr("class", "nav")

        nodeGroup.append("polygon")
                .attr("points", function (g) {
                    var result = [];
                    result.push("0,0");
                    result.push(g.w + ",0");
                    result.push(g.w + g.t + "," + (g.h / 2));
                    result.push(g.w + "," + g.h);
                    result.push("0," + g.h);
                    result.push(g.t + "," + (g.h / 2));

                    return result.join(" ");
                })
                .attr("fill", function (g) {
                    return color((g.children ? g : g.parent).name)
                })

        nodeGroup.append("text")
                .attr("x", function (g) {
                    console.log(g);
                    return (g.w + g.t) / 2
                })
                .attr("y", function (g) {
                    return (g.h / 2)
                })
                .attr("dy", "0.35em")
                .attr("text-anchor", "middle")
                .text(function (g) {
                    return g.name;
                })
                .attr("fill", "#ffffff")


    }

    function calculateSize(text) {
        var length = text.length
        length = length < 5 ? length * 18 : length * 12;
        return length
    }

    function getAncestors(node) {
        var path = [];
        var current = node;
        while (current.parent) {
            path.unshift(current);
            current = current.parent;
        }

        path.unshift(current);
        return path;
    }

</script>