<!DOCTYPE html>
<html>
<head>
    <title>CBD</title>
    <link rel='stylesheet' href='/stylesheets/bower.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='/javascripts/bower.js'/>
    <meta charset="utf-8">
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')</script>

</head>
<body>
{{{body}}}
</body>
</html>
